<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/vApp5.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<body class="login_page">
<div ng-app="Project">
	<div ng-controller="NewUser">
		   <div class="container">
    		<div class="row justify-content-center blankspace50">
    			<p></p>
    		</div>
    		 <div class="row justify-content-center blankspace50">
    			<p></p>
    		</div>
    		</div>
    	  <div class="container">
    		<div class="row justify-content-center">
    			<div class="col-lg-4 login_container" style="border:1px solid white;">
    				<div class="row justify-content-center blankspace50">
    					<p></p>
    				</div>
   				<center><i class="fas fa-user-circle fa-4x"></i></center>
    				<div class="row justify-content-center">
    					<center><h1>New Account</h1></center>
    				</div>

    				<div class="row justify-content-center blankspace50">
    					<center>Please fill the following fields</center>
    				</div>


    				<div class="row justify-content-center">
    					<center><input id="Login" type="email" class="form-control" placeholder="Email" ng-model="login" required style="padding-left: 10px;"></center>
    				</div>

    				<div class="row justify-content-center">
    					<p></p>
    				</div>

    				<div class="row justify-content-center">
    					<center><input id="passord" type="password" class="form-control" placeholder="Password" ng-model="password" required  style="padding-left: 10px;"></center>
    				</div>

    				<div class="row justify-content-center">
    					<p></p>
    				</div>

    				<div class="row justify-content-center blankspace50">
    					<center><input id="repeatpassword" type="password" class="form-control" placeholder="Confirm Password" ng-model="repeatpassword" required style="padding-left: 10px;"></center>
    				</div>

    				<div class="row justify-content-center">
    					<div class="col-lg-10">
    						<center><legend>Customer Information</legend></center>
    					<div class="sep_line"></div>
    					</div>
    				</div>

    				<div class="row justify-content-center">
    					<center><input id="Company" type="text" class="form-control" placeholder="Company Name" ng-model="company" required style="padding-left: 10px;"></center>
    				</div>

    				<div class="row justify-content-center">
    					<p></p>
    				</div>

    				<div class="row justify-content-center">
    					<center><input id="Contact" type="text" class="form-control" placeholder="Main Contact" ng-model="contact" required style="padding-left: 10px;"></center>
    				</div>

    				<div class="row justify-content-center">
    					<p></p>
    				</div>

    				<div class="row justify-content-center">
    					<center><input id="Mail" type="text" class="form-control" placeholder="Contact Mail" ng-model="email" required style="padding-left: 10px;"></center>
    				</div>

    				<div class="row justify-content-center">
    					<p></p>
    				</div>

    				<div class="row justify-content-center blankspace50">
    					<center><input id="Phone" type="text" class="form-control" placeholder="Contact Phone" ng-model="phone_number" required style="padding-left: 10px;"></center>
    				</div>

    				<div class="row justify-content-center">
    					<p></p>
    				</div>

    				<div class="row justify-content-center">
    					<div class="col-lg-4">
    					<center><button class="butn" ng-click="createUser()">Send</button></center>
    					</div>
    					<div class="col-lg-4">
    					<center><a href="login.html"><button class="butn">Back</button></a></center>
    					</div>
    				</div>

    				<div class="row justify-content-center blankspace50">
    					<p></p>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
	</div>
</body>
<script src="./controller/Project.js"></script>
<script src="./controller/NewUser.controller.js"></script>
</html>