<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/vApp5.css">
</head>
<body class="login_page">
  <div ng-app="Project">
    <div ng-controller="LoginController">
      <div class="container">
        <div class="row justify-content-center blankspace50">
          <p></p>
        </div>
        <div class="row justify-content-center blankspace50">
          <p></p>
        </div>
      </div>

      <div class="container">
        <form method="post">
          <div class="row justify-content-center">
            <div class="col-lg-4 login_container" style="border:1px solid white;">
              <div class="row justify-content-center blankspace50">
                <p></p>
              </div>
              <center><i class="fas fa-user-circle fa-4x"></i></center>
              <div class="row justify-content-center">
                <center><h1>Sign In</h1></center>
              </div>

              <div class="row justify-content-center">
                <center><input type="email" class="form-control" placeholder="Email" ng-model="login" style="padding-left: 10px;"></center>
              </div>

              <div class="row justify-content-center">
                <p></p>
              </div>

              <div class="row justify-content-center">
                <center><input type="password" class="form-control" placeholder="Password" ng-model="password" style="padding-left: 10px;"></center>
              </div>

              <div class="row justify-content-center">
                <p></p>
              </div>

              <div class="row justify-content-center">
                <button class="butn" ng-click="loginUser()"><a class="href_button" href="/">Login</a></button>
              </div>

              <div class="row justify-content-center">
                <p></p>
              </div>

              <div class="row justify-content-center">
                <center>No account yet ? <a class="href_button" href="CreateUser.html" style="color:#5161A2;">REGISTER</a></center>
              </div>

              <div class="row justify-content-center blankspace25">
                <p></p>
              </div>

              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="sep_line"></div>
                </div>
              </div>

              <div class="row justify-content-center blankspace10">
                <p></p>
              </div>

              <div class="row justify-content-center">
                <div class="col-lg-4">
                  <center><img style="width: 100px; height: 39px;" alt="APR logo" src="./images/APR-QD.jpg"></center>
                </div>
                <div class="col-lg-4">
                  <center><img style="width: 100px; height: 39px;" alt="TARDY logo" src="./images/tardy-logo.jpg"></center>
                </div>
              </div>

              <div class="row justify-content-center blankspace50">
                <p></p>
              </div>    

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="./controller/Project.js"></script>
  <script src="./controller/LoginController.controller.js"></script>
</body>
</html>