<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/vApp5.css">
</head>
<body>
  <div ng-app="Project">
    <div ng-controller="TrackProd">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-2"> 
            <div class="menu_gauche">
              <h2 class="menu_text" style="padding-left: 5px;"> MENU </h2>
              <div class="row col_menu" style="height: 50px;  border-bottom: 1px solid black;">
                <a href="DisplayAllMO.html" class="col-lg-3" style="background-color: #9FA1B4;">
                  <center style="padding-top: 8px;"><i class="far fa-caret-square-left fa-2x"></i></center>
                </a>
                <a href="DisplayAllMO.html" class="col-lg-9" style="background-color: #616481; padding-top: 8px;">
                  <big >Back</big>
                </a>
              </div>
            </div>
          </div> 


          <div class="col-lg-10">
            <form method="get">

              <div class="row"> <!-- Header personnalisé -->
                <div class="col-lg-9" style="padding-top: 12px;">
                  <h1>PRODUCTION TRACKING</h1>
                </div>

                <div class="col-md-3" style="padding-top: 12px;">
                  <div class="header_icons">
                    <a class="header_a" href="UserPage.html?{{User}}"> {{User}}
                      <i class="fas fa-user-circle fa-2x"></i>
                    </a>
                    <a classe="header_a" href="Accueil.html"> 
                      <i class="fas fa-home fa-2x"></i>
                    </a>            
                    <a class="header_a" href="/login.html" ng-click="logout()">
                      <i class="fas fa-sign-out-alt fa-2x"></i>
                    </a>
                  </div>
                </div>
              </div>
              <p class="sep_line"></p>
              <div class="row"> <!-- Premiere ligne -->

                <div class="col-lg-6">
                  <div class="row">
                    <h2>Production Sequence</h2>
                  </div>
                  <div class="row">
                    **Prod sequence from 3.3**
                  </div>
                  <div class="row">
                    <iframe style="height: 300px; width: 700px;"></iframe>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="row">
                    <h2>MO Information</h2>
                  </div>
                  <div class="row"> 
                    <div class="col-lg-6"> <!--Première colonne MO info-->
                      <div class="row">
                        <div class="col-lg-6">
                          <label>MO Number</label>
                        </div>
                        <div class="col-lg-6">
                          <Input id="mo_number" type="text" ng-model='mo_number'></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Planned Start</label>
                        </div>
                        <div class="col-lg-6">
                          <Input id="planned_start" type="text" ng-model='planned_start'></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Real Start</label>
                        </div>
                        <div class="col-lg-6">
                          <Input id="real_start" type="text" ng-model='real_start'></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Planned Qty</label>
                        </div>
                        <div class="col-lg-6">
                          <Input id="planned_qty" type="text" ng-model='planned_qty'></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Released Qty</label>
                        </div>
                        <div class="col-lg-6">
                          <Input id="released_qty" type="text" ng-model='released_qty'></Input>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6"> <!--Deuxième colonne MO info-->
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Product</label>
                        </div>
                        <div class="col-lg-6">
                          <Input></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Planned End</label>
                        </div>
                        <div class="col-lg-6">
                          <Input id="planned_end" type="text" ng-model='planned_end'></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Real End</label>
                        </div>
                        <div class="col-lg-6">
                          <Input id="real_end" type="text" ng-model='real_end'></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Defect Product</label>
                        </div>
                        <div class="col-lg-6">
                          <Input></Input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <label>Critical Path</label>
                        </div>
                        <div class="col-lg-6">
                          <Input></Input>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

              </div>
              <p class="sep_line"></p>

              <div class="col-lg-10">
                <!-- Les onglets -->
                <nav class="nav nav-tabs">
                  <a class="nav-item nav-link active" href="#tracking" data-toggle="tab">Tracking</a>
                  <a class="nav-item nav-link" href="#issues" data-toggle="tab">Issues</a>
                  <a class="nav-item nav-link" href="#watchlist" data-toggle="tab">Watch List</a>
                </nav>
                <div class="tab-content">
                  <div class="tab-pane active" id="tracking"> <!--ONGLET TRACKING-->
                    <canvas id="trackingChart"></canvas>
                    <script>
                      var ctx = document.getElementById('trackingChart').getContext('2d');
                      var chart = new Chart(ctx, {
                      // The type of chart we want to create
                      type: 'bar',

                      // The data for our dataset
                      data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                        datasets: [{
                          label: 'My First dataset',
                          backgroundColor: 'rgb(255, 140, 132)',
                          borderColor: 'rgb(255, 140, 132)',
                          data: [0, 10, 5, 2, 20, 30, 45]
                        }]
                      },

                      // Configuration options go here
                      options: {}
                    });
                  </script>

                </div>
                <div class="tab-pane" id="issues">

                  <div class="row">
                    <div class="col-lg-7">
                      <div class="row">
                        <div class="col-lg-3">
                          <h2>Cluster by :</h2>
                        </div>
                        <div class="col-lg-2">
                         <button class="butn">Order</button>
                       </div>
                       <div class="col-lg-2">
                         <button class="butn">Customer</button>
                       </div>
                     </div>
                   </div>
                   <p class="sep_line"></p>
                 </div>
                 <div class="row">
                  <div class="col-lg-4">
                    <div class="row">
                      <h2>Quality Controls</h2>
                      <table>
                        <thead>
                          <th>Measure</th><th>Min</th><th>Max</th><th>Control</th><th>Status</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="x in qualityControls">
                            <td>{{x.measure}}</td>
                            <td>{{x.min}}</td>
                            <td>{{x.max}}</td>
                            <td>{{x.control}}</td>
                            <td>{{x.status}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="blankspace50"></div>
                    <div class="row">
                      <table>
                        <thead>
                          <th>Type</th><th>Occur.</th><th>%/Cluster</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="x in issues">
                            <td>{{x.type}}</td>
                            <td>{{x.occurence}}</td>
                            <td>{{x.percentage}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="blankspace25"></div>
                   </div>
                 </div>
                 <div class="col-lg-3">
                  <div class="row">
                    <h2>Known Issues</h2>
                  </div>
                  <div class="row">
                    <table>
                      <thead>
                        <th>Type</th><th>Occur.</th> <th>% Occur.</th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in knownIssues">
                          <td>{{x.type}}</td>
                          <td>{{x.occurence}}</td>
                          <td>{{x.percentage}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="row">
                    <h2>Pareto Chart</h2>
                    <canvas id="pareto"></canvas>
                    <script>
                      var ctx = document.getElementById('pareto').getContext('2d');
                      var chart = new Chart(ctx, {
                      // The type of chart we want to create
                      type: 'bar',

                      // The data for our dataset
                      data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                        datasets: [{
                          label: 'My First dataset',
                          backgroundColor: 'rgb(255, 140, 132)',
                          borderColor: 'rgb(255, 140, 132)',
                          data: [0, 10, 5, 2, 20, 30, 45]
                        }]
                      },

                      // Configuration options go here
                      options: {}
                    });
                  </script>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane" id="watchlist"> 
            <table style="width: 150vh">
              <thead>
                <th>MO Num.</th><th>Date</th><th>Product</th><th>Major Risk</th><th>Planned Start</th><th>Real Start</th><th>Planned End</th><th>Real End</th><th>Planned Qty</th><th>Released Qty</th>
              </thead>
              <tbody>
                <tr ng-repeat="x in watchList">
                  <td>{{x.moNumber}}</td>
                  <td>{{x.date}}</td>
                  <td>{{x.product}}</td>
                  <td>{{x.majorRisk}}</td>
                  <td>{{x.plannedStart}}</td>
                  <td>{{x.realStart}}</td>
                  <td>{{x.plannedEnd}}</td>
                  <td>{{x.realEnd}}</td>
                  <td>{{x.plannedQty}}</td>
                  <td>{{x.releasedQty}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div> <!--Fin des onglets-->

      <p></p>
    </form>
  </div>
</div>
</div>
</div>
</div>
<script src="./controller/Project.js"></script>
<script src="./controller/TrackProd.controller.js"></script>
</body>
</html>